<ion-content>
  <form class="login-form" (ngSubmit)="createPlan()">
    <ion-item class="form-item" lines="none">
      <ion-input name="name" label="Plan Name" labelPlacement="stacked" type="text" [(ngModel)]="name" required></ion-input>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-input name="startDate" label="Start Date" labelPlacement="stacked" type="text" [(ngModel)]="startDate" required></ion-input>
    </ion-item>
    <ion-item class="form-item" lines="none">
      <ion-input name="endDate" label="End Date" labelPlacement="stacked" type="text" [(ngModel)]="endDate" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Create Plan</ion-button>
  </form>
</ion-content>
