<div id="container">

  <form class="signup-form" (ngSubmit)="addFriend()">
    <ion-item class="form-item" lines="none">
      <ion-input name="newFriend" label="Add New Friend" labelPlacement="stacked" type="text" [(ngModel)]="newFriend"
        required></ion-input>
    </ion-item>
    <ion-button class="signup-button" expand="block" type="submit">Add New Friend</ion-button>
  </form>

  <ion-list>
    @for(friend of friendsList; track friend){
    <ion-item>
      <ion-item-group>

      </ion-item-group>
      <ion-text>{{friend}}</ion-text>
    </ion-item>
    }
  </ion-list>
</div>
