.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79ccb3;
}

app-profile-user-details{
  width: 80%;
  max-width: 600px;
  height: 50%;
  max-height: 600px;
}

app-profile-user-settings{
  width: 80%;
  max-width: 600px;
  height: 50%;
  max-height: 600px;
}

app-profile-user-personal-data{
  width: 80%;
  max-width: 600px;
  height: 50%;
  max-height: 600px;
}
