<ion-content>
  <div class="container">
    @switch (currentContent) {
    @case(Content.Details){
    <app-profile-user-details (personalPressed)="currentContent = Content.Personal"
      (settingsPressed)="currentContent = Content.Settings"></app-profile-user-details>
    }
    @case(Content.Settings){
    <app-profile-user-settings (backPressed)="currentContent = Content.Details"></app-profile-user-settings>
    }
    @case (Content.Personal) {
    <app-profile-user-personal-data (backPressed)="currentContent = Content.Details"></app-profile-user-personal-data>
    }
    }
  </div>
</ion-content>
