ion-card {
  position: relative;
  text-align: left;
  margin: 4%;
}

.card-title{
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.card-subtitle {
  font-size: 1.0em;
  position: absolute;
  color: #fff;
  top: 80%;
  width: 100%;
}
