<div id="container">
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <ion-accordion-group>
    @for(place of poi; track place){
      <ion-accordion value="{{$index}}">
        <ion-item slot="header">
          <ion-label>{{place.name}}</ion-label>
           <ion-label>{{ (place.distance * 0.000621371) | number:'1.2-2' }} miles away</ion-label>
          <ion-label>{{place.rating}}/10 rating</ion-label>
        </ion-item>
        <app-foursquare-result [placeData]="place" slot="content"></app-foursquare-result>
      </ion-accordion>
    }
  </ion-accordion-group>
</div>
