<ion-card id="card-container">

  @if(shownContent === Content.Invites){
  <ion-card-header id="card-header">
    <ion-card-title id="card-title">
      <ion-item id="card-header-item" lines="none">
        <ion-button (click)="changeContent(Content.List)" slot="start">
          <ion-icon id="card-header-button-icon" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-label id="card-header-title-label">Plan Invites</ion-label>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content id="card-content">
    <ion-list id="card-content-result-list" lines="none">
      @for(invite of planInvites; track invite){
      <ion-item class="place-result-item">
        <ion-label class="place-name-label">{{invite.data.name}}</ion-label>
        <ion-label class="place-role-label">{{invite.data.startDate}}</ion-label>
        <ion-label class="place-date-label">{{invite.data.endDate}}</ion-label>
        <ion-button (click)="acceptPlanInvite(invite.id)">Accept</ion-button>
        <ion-button (click)="declinePlanInvite(invite.id)">Decline</ion-button>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
  } @else if(shownContent === Content.List){
  <ion-card-header id="card-header">
    <ion-card-title id="card-title">
      <ion-item id="card-header-item" lines="none">
        <ion-label id="card-header-title-label">Plans</ion-label>
        <ion-button id="card-header-add-plan-button" (click)="changeContent(Content.Invites)" shape="round" slot="end">
          <ion-icon id="card-header-button-icon" slot="icon-only" name="mail-unread-outline"></ion-icon>
        </ion-button>
        <ion-button id="card-header-add-plan-button" (click)="openCreatePlanModal()" shape="round" slot="end">
          <ion-icon id="card-header-button-icon" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content id="card-content">
    <ion-list id="card-content-result-list" lines="none">
      @for(plan of plans; track plan){
      <ion-item class="place-result-item" (click)="openPlanModal(plan)">
        <ion-label class="place-name-label">{{plan.data.name}}</ion-label>
        <ion-label class="place-role-label">{{getRole(plan.data)}}</ion-label>
        <ion-label class="place-date-label">{{plan.data.startDate}}</ion-label>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
  }
</ion-card>
