<ion-content>
  <ion-item>
    <ion-label>
      <h3>Plan Name</h3>
      <p>{{plan?.data?.name}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Start Date</h3>
      <p>{{plan?.data?.startDate}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>End Date</h3>
      <p>{{plan?.data?.endDate}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Place Locations</h3>
      @for(placeLocation of getPlaceLocations(); track placeLocation){
        <ion-item>
          <ion-label>
            <h3>Name</h3>
            <p>{{getLocation(placeLocation).name}}</p>
          </ion-label>
        </ion-item>
      }
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>Members</h3>
      @for(member of getMembers(); track member){
        <ion-item>
          <ion-label>
            <h5>{{member.uid}}</h5>
            <p>{{member.role}}</p>
          </ion-label>
        </ion-item>
      }
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>User Locations</h3>
      @for(location of getUserLocations(); track location){
        <ion-item>
          <ion-label>
            <h5>{{location.uid}}</h5>
            <p>{{location.lat}}</p>
            <p>{{location.lng}}</p>
          </ion-label>
        </ion-item>
      }
    </ion-label>
  </ion-item>
  <ion-button (click)="deletePlan()">Delete Plan</ion-button>
</ion-content>
