<ion-card id="card-container">
  <ion-card-header id="card-header">
    <ion-card-title id="card-title">
      <ion-item id="card-header-item" lines="none">
        <ion-label id="card-header-title-label">Custom Locations</ion-label>
        <ion-button id="card-header-add-plan-button" (click)="openCreateLocationModal()" shape="round" slot="end">
          <ion-icon id="card-header-button-icon" slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content id="card-content">
    <ion-list id="card-content-result-list" lines="none">
      @for(location of locations; track location){
      <ion-item class="location-result-item" (click)="openLocationDetailModal(location)">
        <ion-label class="location-name-label">{{location.data.name}}</ion-label>
        <ion-label class="location-role-label">{{location.data.description}}</ion-label>
        <ion-label class="location-date-label">{{location.data.hours}}</ion-label>
      </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
