.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.reset-password-form {
  background-color: #85DCB8;
  border-radius: 20px;
  padding: 20px;
}

.form-item {
  margin-bottom: 15px;
  --background: coral;
  border-radius: 12px;
}

.form-label {
  color: black;
}

.reset-password-button {
  font-weight: bold;
}
