<ion-card>
  @if(currentContent !== Content.SelectPath){
  <ion-card-header>
    @if(currentContent === Content.CustomLocationsSelect || currentContent ===Content.DiscoverSelect || currentContent === Content.PlansSelect){
      <ion-button class="card-header-button" (click)="changeContent(Content.SelectPath)">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    } @else {
      <ion-button class="card-header-button" (click)="changeContent(Content.getPrevious(currentContent))">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    }

  </ion-card-header>
  }
  @switch (currentContent) {
  @case (Content.SelectPath) {
  <ion-card-content class="selectpath-card-content">
    <ion-button class="selectpath-button" (click)="changeContent(Content.DiscoverSelect)">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-button>
    <ion-button class="selectpath-button" (click)="changeContent(Content.PlansSelect)">
      <ion-icon name="map-outline"></ion-icon>
    </ion-button>
    <ion-button class="selectpath-button" (click)="changeContent(Content.CustomLocationsSelect)">
      <ion-icon name="location-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
  } @case (Content.DiscoverSelect) {
    <ion-card-content >
      <ion-button (click)="changeContent(Content.DiscoverLocation)">Select Discovery</ion-button>
    </ion-card-content>
  } @case (Content.DiscoverLocation) {

  } @case (Content.PlansSelect) {

  } @case (Content.PlansData) {

  } @case (Content.PlansLocation) {

  } @case (Content.CustomLocationsSelect) {

  } @case (Content.CustomLocationsData) {

  }
  }

</ion-card>


<!-- <ion-select (ionChange)="changeContent()" interface="popover" placeholder="Discover">
  <ion-select-option value="apples">Apples</ion-select-option>
  <ion-select-option value="oranges">Oranges</ion-select-option>
  <ion-select-option value="bananas">Bananas</ion-select-option>
</ion-select> -->
