ion-card{
  width: 85vw;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
}
.selectpath-card-content {
  display: flex;
  justify-content: center; /* Horizontally center the buttons */
  align-items: center; /* Vertically center the buttons */
  height: 100%; /* Ensure the container takes the full height */
}

.selectpath-button{
  width: 23vw; /* Adjust width as needed */
  height: 23vw; /* Adjust height as needed */
  margin: 2vw;
  border-radius: 15px; /* Adjust border-radius to make it square */
  --background: linear-gradient(to bottom right, #ff3366, #9933ff); /* Gradient colors */
  color: #fff; /* Text color */
  font-size: 2rem; /* Adjust font size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectpath-button ion-icon {
  font-size: 5rem; /* Adjust icon size */
}

