<div class="container">
  @if(size === "small"){
    <swiper-container [loop]="true" [slidesPerView]="3">
      @for(place of places; track place){
      <swiper-slide>
        <app-foursquare-card-small [place]="place" (click)="moreDetail.emit(place)"></app-foursquare-card-small>
      </swiper-slide>
      }
    </swiper-container>
  }
  @else if(size === "medium"){
    <swiper-container [loop]="true" [slidesPerView]="2">
      @for(place of places; track place){
      <swiper-slide>
        <app-foursquare-card-medium [place]="place" (click)="moreDetail.emit(place)"></app-foursquare-card-medium>
      </swiper-slide>
      }
    </swiper-container>
  }
  @else if(size === "large"){
    <swiper-container [loop]="true" [slidesPerView]="1">
      @for(place of places; track place){
      <swiper-slide>
        <app-foursquare-card-large [place]="place" (click)="moreDetail.emit(place)"></app-foursquare-card-large>
      </swiper-slide>
      }
    </swiper-container>
  }
</div>
